{% extends "base.jinja2" %}

{% set base_image = "debian:buster" %}

{% set dependencies = [
    {"pkgs": "adduser apache2 gunicorn3 iproute2 libjs-bootstrap libjs-excanvas libjs-jquery libjs-jquery-cookie libjs-jquery-flot libjs-jquery-typeahead libjs-jquery-ui libjs-jquery-watermark postgresql postgresql-client postgresql-common python3-setuptools systemd-sysv" },
    {"pkgs": requires("debian", "buster", "lava-server") },
    {"pkgs": requires("debian", "buster", "lava-dispatcher") },
    {"pkgs": "build-essential debhelper dh-python fakeroot git libdistro-info-perl node-uglify python3-sphinx python3-sphinx-bootstrap-theme", "recommends": True },
    {"pkgs": "devscripts git-buildpackage distro-info" }
] %}
