{% extends "base.jinja2" %}

{% set base_image = "debian:buster" %}

{% set dependencies = [
    {"pkgs": requires("debian", "buster", "lava-common") },
    {"pkgs": requires("debian", "buster", "lava-dispatcher") },
    {"pkgs": requires("debian", "buster", "lava-dispatcher", True) },
    {"pkgs": "dfu-util nfs-kernel-server openocd"}
] %}
