{% extends "base.jinja2" %}

{% set base_image = "debian:bullseye" %}

{% set dependencies = [
    {"pkgs": "pylint3 python3-pylint-django"},
    {"pkgs": "python3-jinja2 python3-nose python3-voluptuous python3-yaml"},
    {"pkgs": "ca-certificates"},
    {"pkgs": "black git pycodestyle radon"}
] %}
